body {
    font-family: sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.head-bar {
    display: flex;
    justify-content: space-around;
}



.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.head-text {
    width: 425px;
}

.main-head {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
}

.second-head {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
 
.third_head {
    font-size: 36px;
    text-align: center;
}

.fourth_head {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

.form_element {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
  
}

.email {
    margin-left: 28px;
}


.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.4; 
}



.fin-project  {
    text-align: center;
}

.footer-head {
    width: 340px;
}

.work-team_text {
    width: 495px;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer-list li {
    flex-grow: 1;
}
.content-wrapper {
    display: flex;
    justify-content: space-around;
}
