<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Личный сайт студента GeekBrains</title>
	<link rel="stylesheet" href="style.css"> 
</head>
<body>

<div class="content">
	<div class="header">
		<a href="#">Главная</a>
		<a href="puzzle.html">Загадки</a>
		<a href="guess.html">Угадайка</a>
		<a href="password_generator.html">Генератор паролей</a>
	</div>

	<h1>Личный сайт студента GeekBrains</h1>

	<div class="center">
		<div class="about_me">
			<div class="img"></div>
			<div class="box_text">
				<p><b>Добрый день!</b>. Меня зовут <i>Константин Цыпленков</i>. Я совсем недавно начал программировать и надо сказать, что мне это очень нравится.
				</p>
				<p> В начале я пытался учиться сам. К сожалению, понял, что самому довльно сложно определить отправные точки и цели обучения, а также правильно структурировать знания, понять что нужно, а что - нет. B интернете и книгах - море иформации. Разобраться довольно непросто. Надеюсь, что образовательный портал <a href="https://geekbrains.ru">GeekBrains</a> поможет мне в этом и в освоении новой профессии.</p>
				<p>Мне конечно больше нравится верстать и у меня есть несколько сверстанных проектов. Но я понимаю, что в современном мире статики уже недостаточно - важны также интерактивность и динамика сайта. Поэтому я буду очень стараться освоить программирование, хотя дается оно мне совсем нелегко.</p>
				<p>Я желаю всем удачи в обучении!</p>

				
				<p>На этом сайте вы сможете сыграть в несколько игр, которые я написал: <br>
				<a href="#">Главная</a>,
				<a href="#">Загадки</a>,
				<a href="#">Угадайка</a>,
				<a href="password_generator.html">Генератор паролей</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	Copyright &copy; Kostya Tsypa
<div>


</body>
</html>