<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Личный сайт студента GeekBrains</title>
	<link rel="stylesheet" href="style.css">
	<script>
		
		var set = ['a',1,'f',2,'b',3,'y',5,'o',6,'l',7,'n',8,'f',9,'y'];
		var password = [];
		
		function addSigns(position, massive) {
			/*добавляет произвольный элемент из массива set в password и возвращает его*/
			var current = massive[position];
			password.push(current);
			return password;	
		}

		function getSigns(){
			// возвращает значение пользователя
			return document.getElementById('userAnswer').value;
		}

		function write(text){
			//выводит сгенерированный пароль
			document.getElementById("info").innerHTML = text;
		}

		function doPassword (){
			//вызывает addSigns по количеству символов в пароле
			var signs = getSigns();
			signs = parseInt(signs);
			for(i=0; i < signs; i++) {
				position =  parseInt(Math.random() * (set.length - 1));
				password = addSigns(position,set);
			}

			write(password.join(''));//преобразует массив в строку
			password = []; // в конце массив с паролем снова пуст
		}

		doPassword();

		// for(i=0; i < signs; i++){
		// 	var position = parseInt(Math.random() * numbers.length);
		// 	var current = numbers.splice(position,1);
		// 	password.splice(position,0, current);

		// }

		
	</script>
</head>
<body>
	<div class="content">
		<div class="header">
			<a href="index.html">Главная</a>
			<a href="puzzle.html">Загадки</a>
			<a href="guess.html">Угадайка</a>
			<a href="password_generator.html">Генератор паролей</a>
		</div>

		<div class="contentWrap">
		    <div class="content">
		        <div class="center">

					<h1>Генератор паролей</h1>

					<div class="box">

						<p>Введите количество символов пароля: </p>
						<p id="info"></p>
						<input type="text" id="userAnswer">

						<br>
						<a href="#" onClick="doPassword();">Сгенерировать</a>

					</div>

		        </div>
		 	</div>
		</div>

	</div>
	<div class="footer">
		Copyright &copy; Kostya Tsypa
	<div>
	
</body>
</html>