body {
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.main-head {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    
}

.second-head {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 74px;
    color:#FFFFFF;
    text-align: center;
    letter-spacing: 0.04em;
}
 
.third_head {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000; 
    text-align: center;
}

.fourth_head {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    text-transform: uppercase;

}



.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}



.header{
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header-pos{
    display: flex;
    flex-direction: column;
    min-height: 768px;
   
}

.head-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
}

.offer {
    padding-top: 115px;
    flex-grow: 1;
    height: 100%;
    background: url(img/illustration.png) no-repeat right center;
}



.head-text {
    width: 45%;
    padding-top: 32px;
    padding-bottom: 71px;
}

.offer-button {
    text-decoration: none;
    display: inline-block;
    margin-top: 0!important;
    text-transform: initial;
}

.what-we-do {
    padding-top: 64px;
    padding-bottom: 64px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card {
    width: 359px;
    background: #FFFFFF;
    padding: 44px 52px 44px 32px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-img {
    align-self: center;
}


.card-head {
    padding-top: 51px;
    padding-bottom: 14px;
    width: 283px;
    font-size: 20px;
    text-transform: initial;
}

.card-text {
    width: 268px;

}

.card-link {
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    margin-top: 30px;
    letter-spacing: 0.05em;
    display: block;
    color: #5A98D0;
}


.card-link::after {
    content: url(img/arrow.svg);
    padding-left: 20px;
    opacity: 0.6;
    vertical-align: -0.2em;
}



.fin-project  {
    text-align: center;
    padding-bottom: 112px;
}


.fin-project_text {
    width: 69%;
    margin: 0 auto;
    color:#000000;
    opacity: 1;
    padding-bottom: 64px;
    padding-top: 32px;
    
}

.smart-home_wrapper {
    position: relative;
    padding-bottom: 32px;
}

.smart-home_img, .sparklite-img, .carrep-img {
    width: 100%;
}

.project-img_text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    
    letter-spacing: 0.05em;
    color: #FFFFFF;
    

}

.smart-home_text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    /* left: 674px;
    bottom: 374px; */
    right: 64px;
    top: 64px;
    
}

.fin-project_img_2-3_wrapper {
    display: flex;
    justify-content: space-between;
}

.sparklite-wrapper, .carrep_wrapper {
    position: relative;
    width: 49%;
}

.carrep-text, .sparklite-text {
    top: 20px;
    left: 20px;

}


.work-team_text {
    width: 495px;
}


/* contacts.html */

.contact-offer {
    background: url(img/main-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 250px;
    margin-top: 55px;
}

.text-head_contacts {
    font-size: 20px;
    line-height: 30px;
    width: 55%;
    color:#FFFFFF;
    opacity: 0.6;
    margin: 0 auto;

}

.main-content {
    padding-bottom: 96px;
    padding-top: 57px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.left-part_main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-part_main h4 {
    margin-bottom: 24px;
}

.img-contacts {

}

.text-contacts {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.text-contacts_adress {
    width: 70%;
}


.phone-list {
    list-style-image: url(img/phone.svg);
    margin-left: 22px;
}

.phone-list li {
    padding-left: 19px;
    padding-bottom: 14px;
}

.service-list {
    

}

.service-list li {
    list-style-type: none;
    padding-bottom: 14px;
    
}

.service-list li:nth-child(1)::before {
    content: url(img/mail.svg);
    padding-right: 19px;
    opacity: 0.6;

}

.service-list li:nth-child(2)::before {
    content: url(img/site.svg);
    padding-right: 19px;
    opacity: 0.6;
}

.service-list li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    text-decoration: none;
    vertical-align: 0.2em;
}

.relations {
    /* height: 800px; */
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    box-sizing: border-box;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    
}

.form_element {
    width: 428px;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px; 
    padding: 21px 36px; 
}
.form-message {
    height: 144px;

}

.contacts-form p:first-child{
    margin-top: 48px;
}

.contacts-form p {
    margin-top: 32px;
    margin-bottom: 8px;
}

.button {
    padding: 10px 40px;
    margin-top: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 26px;
    /* text-transform: uppercase; */
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.location {
    padding-bottom: 112px;
}

.map {
    position:relative; 
    width: 940px; 
    height: 480px;
    margin: 0 auto;
    display: block;
    border: none;
}

.footer {
    background: #316099;
    color:#FFFFFF;
    padding: 91px 0 64px;
}

.work-team {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}

.footer-head {
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    padding-bottom: 32px;
    color:#FFFFFF;
}



.text-footer {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;

}

.wrapper-button {
    align-self: center;
}

.footer-button {
    text-decoration: none;
    color:#FFFFFF;
    background: #5A98D0;
    display: inline-block;
    text-align: center;
    padding: 15px 80px;
    box-sizing: border-box;
    
}

hr {
    color: #FFFFFF;
    opacity: 0.6;
}



.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 64px 0;
}

.footer-list li {
    flex-grow: 1;
    flex-basis: 33.33%;
}



.footer-adress  {
    width: 70%;
}

.footer-list li span{
    margin-right: 19px;
    display: inline-flex;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}


@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .offer {
        background-size: 50%;
        background-position: right bottom;
    }

    

    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;]
    }

    .footer {
        padding-top: 47px;
    }

    .resp-footer {
        padding-left: 92px;
        padding-right: 92px;
    }

    .text-footer {
        width: 75%;
    }

    .wrapper-button {
        flex-grow: 1;
    }

    .footer-button {
        width: 133px;
        padding: 5px 35px;
    }

    

    .footer-list {
        flex-direction: column;
    }

    .footer-list li {
        padding-bottom: 25px;
    }

    .footer-list li span{
      
        display: initial;
       
    }
}

@media (max-width: 667px) {

    .header {
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .header-pos {
        min-height: 376px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        background: none;
    }

    
    .main-head {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        padding-top: 24px;
        text-align: center;

    }

    .head-text {
        width: 100%;
        text-align: center;
        padding-top: 0;
        padding-bottom: 32px;
    }

    .offer-button {
        font-size: 12px;
        line-height: 26px;
        padding: 3px 10px;
        /* margin-bottom: 41px; */
    }

    .what-we-do {
        padding-top: 48px;
    }

    .third_head {
        font-size: 24px;
        line-height: 28px;
        
    }

    .cards {
        padding-top: 32px;
    }
    .card {
        width: 100%;
    }

    .card-head, .card-text {
        width: 100%;
    }

    .fin-project_text {
        width: 100%;
    }

    .smart-home_wrapper, .sparklite-wrapper {
        padding-bottom: 16px;
    }

    .smart-home_text {
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        top: 16px;
        right: 16px;
    }

    .fin-project_img_2-3_wrapper {
        flex-direction: column;
    }

    .sparklite-wrapper, .carrep_wrapper {
        width: 100%;
    }

    .carrep-text, .sparklite-text {
        top: 16px;
        left: 20px;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    
    }

    .resp-footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .work-team {
        flex-direction: column;
        padding-bottom: 40px;
        
    }

    .work-team_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .footer-head {
        text-align: center;
        width: 80%;
    }
    .text-footer {
        width: 95%;
        padding-bottom: 40px;
    }
    .footer {
        padding-top: 18px;
        padding-bottom: 0;
        

    }

    .footer-list {
        padding: 32px 0;
    }

    .footer-list li {
        padding-bottom: 17px;
    }
    
    .text-footer {
        text-align: center;
    }
}
