.game-field__wrapper {
    display: flex;
}

.game-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding-top: 200px;
}

.question {
    border: 3px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.answers {
    border: 3px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.right__answer--input {

}

.choose-btn {

}

.points-wrapper {
    border-left: 1px solid #000;

}

/* .points-item:nth-child(1) {
    background-color: green;
} */

.end-game {
    text-align: center;
    margin: 29%;
    border: 3px solid red;
    background: cornflowerblue;
    padding: 2%;
    border-radius: 10px;
    color: red;
}

